@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: #040015;
    color: white;
    
}

button {
    border: 2px solid white;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    color: white;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    scale: 1.05;
    background-color: var(--deep-blue);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  
  }