@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-color: #040015;
    color: white;
    
}

button {
    background-color: #2c2c2c;
    color: white;
    border: 2px blue solid;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
